@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font: normal 16px 'Work Sans', sans-serif;
    color: black;
    background-color: rgb(245, 255, 255);
}

h1 {
    font: italic 750 2.5em 'Work Sans', sans-serif;
}

h2 {
    font: bold 2em 'Indie Flower', sans-serif;
}

p {
    font-size: 1.3em;
}